@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<article>
<h2 class="text-danger">Error.</h1>
<h3 class="text-danger">An error occurred while processing your request.</h2>

<a asp-action="Index">Back to prize list</a>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
</article>
