@model HomeModel

@foreach (var category in Model.Prizes) {
    <h2>
        @category.Key.Item2
    </h2>
    @foreach (var prize in category) {
        <partial name="_Prize" model="prize" />
    }
}

@if (Model.Prizes.Count() == 0) {
    <article>
        Unfortunately, there are no prizes at this time.
        Please come back later.
    </article>
}
